$mobile: 360px;
$tablet: 768px;

@mixin device($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@include device($mobile, $tablet) {
  //mobile
  body {
    background-color: red; // 이 내용이 @content부분으로 들어감
  }
}

@include device(768px, 1024px) {
  //tablet
  body {
    background-color: blue;
  }
}

//다른 문서에서 import로 이문서를 불러들여야한다.
