html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  /*   min-width: 768px; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

a {
  color: #3a3a3a;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
i,
em,
strong,
b,
code,
address,
::after,
::before {
  display: inline-block;
}

header {
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px;
  padding-bottom: 0;
  background-color: black;
}

.headerLeft {
  width: 10%;
}

.headerLeft p {
  font-size: 16px;
}

.headerLeft p a {
  color: white;
}

.headerMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerMiddle div a {
  width: 136px;
  height: 50px;
  background-image: url("../image/TISSOT_LOGO_white 1.png");
}

.headerMiddle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerMiddle ul li {
  margin: 28px 0;
}

.headerMiddle ul li a {
  color: white;
  margin: 0 30px;
}

.headerRight {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.headerRight a {
  margin: 0 8px;
  width: 19px;
  color: white;
}

.headerRight a:last-child {
  margin-right: 0;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.footerWrap1 {
  padding: 38px 0;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.4);
}

.footerwrap {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerwrap div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerwrap div a i {
  font-size: 30px;
  margin-bottom: 20px;
}

.footerwrap div a p {
  font-size: 18px;
}

.footerMiddle {
  margin-top: 50px;
  width: 40%;
  margin: 0 auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerMiddle p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.footerMiddleIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footerMiddleIcon i {
  font-size: 33px;
  padding: 0 20px;
}

.footerBottom {
  width: 100%;
  background-color: #1b1b1b;
  padding: 22px 0;
}

.footerBottom p {
  color: #e7e7e7;
  text-align: center;
}

.footerBottomText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerBottomText p:first-child {
  margin-bottom: 45px;
}
/*# sourceMappingURL=common.css.map */