$size: 1400px;
$bg: rgb(216, 219, 219);

/* @mixin flex {
  display: flex;
  align-items: center;
} */

@mixin flex($n: flex, $a: flex-start) {
  display: $n;
  align-items: $a;

  @content; /* include에서 추가한 내용을 가져오는 내장함수 */
}

/* @include flex(flex, center) {
  justify-content: space-between; /* 명령추가 
} */

main {
  background-color: $bg;
}
article {
  max-width: $size;
  margin: 0 auto;
  text-align: center;
  h2 {
  }
  ul {
    @include flex() {
      justify-content: center;
    } /* 기본값 */
    display: flex;
    li {
      @include flex(flex, center);
      width: 30%;
      &::after {
        /* &는 상위 부모를 가리킨다. 여기서는 li */
        content: "";
        flex-grow: 1;
        border: 1px solid black;
      }
    }
  }
}

.bg {
  margin: 100px auto;
  width: 1400px;
  > div {
    display: flex;
    p {
      width: 300px;
      height: 200px;
    }

    $array: (
      1: "80-1.jpg",
      2: "80-1.jpg",
      3: "80-1.jpg",
    );
    /* @each $i, $name in array {
      p:nth-of-type(#{$i}) {
        background: url("../../../클론/TISSOT/image/PRX\ 파워매틱\ #{$name}")
          0
          0 /
          cover
          no-repeat;
      }
    } */

    @for $i from 1 to 4 {
      //3번반복
      p:nth-of-type(#{$i}) {
        background: url("../../../클론/TISSOT/image/PRX\ 파워매틱\ #{$nth($array,$i)}")
          0
          0 /
          cover
          no-repeat;
      }
    }
  }
}
