@import url("./font.css");

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}
a {
  color: rgb(58, 58, 58);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a,
i,
em,
strong,
b,
code,
address,
::after,
::before {
  display: inline-block;
}

header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px 0;
}

header > div {
  width: 86%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

header > div > nav {
  position: relative;
}

header > div > nav > button {
  width: 26px;
  height: 16px;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

header > div > nav > button > span {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 3px solid rgb(243, 243, 243);
  border-radius: 10px;
  transition: 0.3s;
}

header > div > nav > button > span:nth-child(1) {
  top: 0;
}
header > div > nav > button > span:nth-child(2) {
  top: 50%;
}
header > div > nav > button > span:nth-child(3) {
  top: 100%;
}

header > div > nav > button:hover > span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
header > div > nav > button:hover > span:nth-child(2) {
  top: 50%;
  transform: translateX(100%);
  opacity: 0;
}
header > div > nav > button:hover > span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}
header > div > nav > button:hover + div {
  display: block;
}

header > div > nav > div {
  /* display: none; */
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  left: 0;
  top: 40px;
  background-color: rgb(39, 39, 39);
  border-radius: 8px;
}

header > div > nav:hover div {
  opacity: 1;
}

header > div > nav > div > a {
  display: block;
  color: aliceblue;
  padding: 10px;
  text-align: center;
}

header > div > h1 {
}
header > div > h1 > a {
  font-family: Broadway;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
}

header > div > div.lang {
  position: relative;
  font-size: 0.8rem;
}
header > div > div.lang > p {
  color: white;
}
header > div > div.lang > p::after {
  content: "▶";
  font-size: 6px;
  transform: scale(0.8);
  transform: rotate(90deg);
  margin-left: 8px;
}
header > div > div.lang > ul {
  /* display: none; */
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  left: 0;
  bottom: -10px;
  transform: translateY(100%);
  border-bottom-width: 0;
  background-color: rgb(39, 39, 39);
  border-radius: 8px;
}

header > div > div.lang > ul > li {
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
}
.lang_p:hover + ul {
  /* display: block; */
  opacity: 1;
}

*/ header > div > div.lang > ul > li {
  border-bottom: 1px solid #ddd;
  padding: 6px 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b9c4d8;
  height: 130px;
}
