@import url("./common.css");

.imgBox {
  width: 100%;
  height: 900px;
  background-image: url(../image/img_visual.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBtn:hover {
  background-color: rgb(36, 36, 36);
  transition: 1s;
}
.mainBtn a {
  transition: 1s;
}

.mainBtn:hover a {
  color: #f5f4a5;
  transform: scale(1.1);
}

.mainTextbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.mainText {
  font-size: 80px;
  color: #f5f4a5;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  animation: fadein 4s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mainBtn {
  margin-top: 55px;
  width: 270px;
  height: 65px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-radius: 10px;
}
.mainBtn a {
  color: white;
}
.mainBox {
  width: 66%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 125px 0;
}
.mainwrapper {
  width: 100%;
}
.main1 {
  display: flex;
}
.imgwrapper1 {
  width: 50%;
  overflow: hidden;
}
.main1 img {
  max-width: 100%;
  height: auto;
  transition: 0.5s;
}

.main1 img:hover {
  transform: scale(1.05);
}
.main1Text {
  width: 40%;
  margin-left: 10%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.main2Text {
  width: 40%;
  margin-left: 10%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.main1Text h3 {
  width: 100%;
  font-size: 32px;
  padding-bottom: 8%;

  position: relative;
}

.main2Text h3 {
  width: 100%;
  font-size: 32px;
  padding-bottom: 8%;
  display: flex;
  position: relative;
}

.main1Text h3:after {
  content: "";
  display: block;
  background-color: black;
  width: 30%;
  height: 2px;
  position: absolute;
  right: 0px;
  top: 25px;
}

.main2Text h3:after {
  content: "";
  display: block;
  background-color: black;
  width: 30%;
  height: 2px;
  position: absolute;
  top: 25px;
  right: 0px;
}
.main1Text p {
  font-size: 16px;
  padding-bottom: 8%;
}

.main1Text button {
  background-color: transparent;
  border: none;
}

.main2 {
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.main2 img {
  max-width: 100%;
  height: auto;
  transition: 1s;
}
.main2Text {
  width: 40%;
  margin-right: 10%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
}
.main2Text h3 {
  font-size: 32px;
  padding-bottom: 10%;
}

.main2Text p {
  font-size: 16px;
  padding-bottom: 10%;
}

.main2Text button {
  background-color: transparent;
  border: none;
}
.imgwrapper2 {
  width: 50%;
  order: 2;
  overflow: hidden;
}
.main2 img:hover {
  transform: scale(1.05);
}
.bottomwrapper {
  width: 100%;
  height: 30%;
  background-color: #ecf4f9;
  padding: 140px 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.bottomBox {
  width: 66%;
  height: 100%;
}
.bottomTextBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10%;
}
.bottomTextBox p {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 80px;
}

.bottomTextBox p:after {
  content: "";
  display: block;
  background-color: black;
  width: 80px;
  height: 3px;
  border-radius: 10px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.bottomImgBox {
  width: 100%;
  /* height: 350px; */
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.bottomImgBox > div {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgwrapper {
  width: 100%;
  overflow: hidden;
  height: 300px;
  border-radius: 100%;
  transition: 0.5s;
}

.imgwrapper:hover {
  border-radius: 10%;
  cursor: pointer;
}
.imgwrapper img {
  height: auto;
}
.bottomImgBox span {
  padding-top: 25px;
}

@media screen and (max-width: 1514px) {
  .bottomImgBox > div {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imgwrapper {
    width: 100%;
    overflow: hidden;
    height: 180px;
    border-radius: 100%;
  }
}

@media screen and (max-width: 1149px) {
  .main1,
  .main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main1Text h3:after,
  .main2Text h3:after {
    display: none;
  }

  .main1Text,
  .main2Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
  }

  .imgwrapper2 {
    width: 50%;
    order: 1;
  }

  .main2Text {
    order: 2;
  }

  .imgwrapper1,
  .main1Text,
  .imgwrapper2,
  .main2Text {
    width: 70%;
  }
}

@media screen and (max-width: 769px) {
  .mainText {
    transition: 1s;
    font-size: 46px;
  }
  .bottomImgBox {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottomImgBox > div {
    margin: 30px 0 0 0;
  }
  .imgwrapper + span {
    padding: 10px;
  }

  .bottomTextBox span {
    display: block;
    text-align: center;
  }
}

.mainText {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}
.mainText span {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 2s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
