@import "./variable.scss";

.mainBox {
  #main_Sec1 {
    position: relative;

    #iBox {
      color: rgb(173, 173, 173);
      transition: 0.2s;

      &:hover {
        color: black;
      }
    }

    #genderText {
      font-size: 30px;
      font-weight: bold;
    }

    .genderBox {
      width: 70%;
      min-width: 650px;
      height: 85%;
      display: flex;
      margin-top: 25px;
      justify-content: center;
      align-items: center;

      img {
        max-width: 320px;
        width: 100%;
        border-radius: 18px;
      }

      .genderValue {
        margin-top: 50px;
        font-weight: bold;
      }

      #female {
        width: 50%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
        object-fit: cover;
        cursor: pointer;
        position: relative;
        -webkit-filter: grayscale(100%);

        p {
          display: flex;
          justify-content: center;
          margin-top: 10px;
        }

        .wwgif {
          position: absolute;
          top: 0;
          //left: 0;
        }
      }

      #female:hover {
        -webkit-filter: grayscale(0%);
      }

      #male {
        width: 50%;
        height: 90%;
        display: flex;
        margin-left: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        object-fit: cover;
        cursor: pointer;
        position: relative;
        -webkit-filter: grayscale(100%);
        transition: 0.2s;

        .wwgif {
          position: absolute;
          top: 0;
          margin-left: -157px;
          //left: 0;
        }
      }

      #male:hover {
        -webkit-filter: grayscale(0%);
        transition: 0.2s;
      }

      .static:hover {
        opacity: 0;
        -webkit-filter: grayscale(0%);
      }
    }

    .genderBox:hover {
      filter: grayscale(0%);
    }
  }
}

@include mobile {
  body {
    .mainBox {
      position: relative;
      #main_Sec1 {
        background-color: white;
        justify-content: space-between;
        position: relative;

        .topBox {
          display: none;
        }

        #genderText {
          margin-top: 80px;
          font-size: 24px;
        }
        .genderBox {
          // background-color: rgb(243, 215, 215);
          height: 40vh;
          margin-bottom: 200px;
          min-width: 300px;
          width: 80%;

          .genderValue {
            position: static;
            top: 0;
            left: 0;
            margin: 0;
            height: 30px;
          }

          #female,
          #male {
            width: 50%;
            filter: grayscale(0%);
            position: static;
          }

          #female {
            .wwgif {
              position: absolute;
              left: 0;
              margin: 0;
            }
            position: static;

            p {
              margin: 0;
            }
          }

          #male {
            .wwgif {
              margin: 0;
              position: absolute;
              left: 0;
            }
          }

          img {
            max-width: 100%;
            transition: 0.5s;
          }

          .genderValue {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -130%);
            transition: 0.5s;
            color: rgb(161, 161, 161);
            // background-color: rgb(223, 223, 255);

            &:hover {
              transform: translate(-50%, -130%) scale(1.05);
              color: rgb(27, 27, 27);
            }
          }

          .f_gif,
          .m_gif {
            display: none;
          }

          .static:hover {
            opacity: 1;
            transform: scale(1.03);
          }
        }
      }
    }
  }
}
