@charset "UTF-8";
@import "./main.css";
@import "./style_screen_01.css";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IM_Hyemin-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TmoneyRoundWindExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*반응형, 브라우저 크기가 767px 이하일때*/
#main_Sec1 button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 900;
  top: 12.5%;
  right: 0;
  margin-right: 20px;
  position: absolute;
  cursor: pointer;
}

.titleBox {
  position: absolute;
  text-align: center;
}
.titleBox .titletext {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding-top: 50px;
  width: 100%;
}
.titleBox .titletext p {
  width: 100%;
  font-size: 25px;
  font-weight: 900;
}

.StyleSelection {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 80%;
}
.StyleSelection .styleBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.StyleSelection .styleBox .shape {
  max-width: 90%;
  height: 230px;
  min-width: 225px;
  min-height: 200px;
  cursor: pointer;
}
.StyleSelection .styleBox .modernShape {
  background: linear-gradient(64.009163468deg, rgb(241, 155, 205) 23.44140625%, rgb(231, 92, 162) 79.84765625%);
  -webkit-animation: wave 8s ease-in-out infinite;
          animation: wave 8s ease-in-out infinite;
  transform: translateY(-50px);
  transition: 0.5s;
}
.StyleSelection .styleBox .modernShape:hover {
  transform: translateY(-50px) scale(1.2);
}
.StyleSelection .styleBox .streetShape {
  background: linear-gradient(64.009163468deg, rgb(149, 207, 178) 23.44140625%, rgb(94, 196, 94) 79.84765625%);
  -webkit-animation: wave2 10s ease-in-out infinite;
          animation: wave2 10s ease-in-out infinite;
  transform: translateY(10px);
  transition: 0.5s;
}
.StyleSelection .styleBox .streetShape:hover {
  transform: translateY(10px) scale(1.2);
}
.StyleSelection .styleBox .casualShape {
  background: linear-gradient(64.009163468deg, rgba(235, 206, 126, 0.842) 23.44140625%, rgb(238, 204, 55) 79.84765625%);
  -webkit-animation: wave3 9s ease-in-out infinite;
          animation: wave3 9s ease-in-out infinite;
  transform: translateY(-50px);
  transition: 0.5s;
}
.StyleSelection .styleBox .casualShape:hover {
  transform: translateY(-50px) scale(1.2);
}
@-webkit-keyframes wave {
  0%, 100% {
    border-radius: 70% 30% 72% 28%/27% 61% 39% 73%;
  }
  50% {
    border-radius: 77% 23% 54% 46%/40% 38% 62% 60%;
  }
  25% {
    border-radius: 80% 27% 60% 36%/32% 44% 52% 50%;
  }
}
@keyframes wave {
  0%, 100% {
    border-radius: 70% 30% 72% 28%/27% 61% 39% 73%;
  }
  50% {
    border-radius: 77% 23% 54% 46%/40% 38% 62% 60%;
  }
  25% {
    border-radius: 80% 27% 60% 36%/32% 44% 52% 50%;
  }
}
@-webkit-keyframes wave2 {
  0%, 100% {
    border-radius: 60% 40% 62% 38%/27% 61% 39% 73%;
  }
  50% {
    border-radius: 67% 33% 54% 46%/40% 38% 62% 60%;
  }
  25% {
    border-radius: 75% 36% 60% 40%/32% 44% 52% 70%;
  }
}
@keyframes wave2 {
  0%, 100% {
    border-radius: 60% 40% 62% 38%/27% 61% 39% 73%;
  }
  50% {
    border-radius: 67% 33% 54% 46%/40% 38% 62% 60%;
  }
  25% {
    border-radius: 75% 36% 60% 40%/32% 44% 52% 70%;
  }
}
@-webkit-keyframes wave3 {
  0%, 100% {
    border-radius: 70% 30% 72% 28%/27% 61% 39% 73%;
  }
  75% {
    border-radius: 72% 24% 62% 38%/37% 41% 49% 63%;
  }
  50% {
    border-radius: 77% 23% 54% 46%/40% 38% 62% 60%;
  }
  25% {
    border-radius: 80% 27% 60% 36%/32% 44% 52% 50%;
  }
}
@keyframes wave3 {
  0%, 100% {
    border-radius: 70% 30% 72% 28%/27% 61% 39% 73%;
  }
  75% {
    border-radius: 72% 24% 62% 38%/37% 41% 49% 63%;
  }
  50% {
    border-radius: 77% 23% 54% 46%/40% 38% 62% 60%;
  }
  25% {
    border-radius: 80% 27% 60% 36%/32% 44% 52% 50%;
  }
}
.StyleSelection .styleBox p {
  font-weight: 600;
  font-size: 24px;
  position: absolute;
  color: rgb(245, 245, 245);
  cursor: pointer;
  transition: 0.5s;
}
.StyleSelection .styleBox #modern,
.StyleSelection .styleBox #casual {
  transform: translateY(-50px);
  transition: 0.5s;
}

.modernBox:hover #modern {
  transform: translateY(-50px) scale(1.1);
}

.streetBox:hover #street {
  transform: scale(1.1);
}

.casualBox:hover #casual {
  transform: translateY(-50px) scale(1.1);
}

@media (max-width: 767px) {
  .mainBox #main_Sec1 {
    background-color: white;
  }
  .StyleSelection {
    flex-direction: column;
    height: 70%;
    margin-bottom: 100px;
  }
  .StyleSelection .styleBox #modern,
.StyleSelection .styleBox #casual {
    transform: translateY(0px);
    transition: 0.5s;
  }
  .StyleSelection .styleBox .shape {
    width: 180px;
    height: 150px;
    min-width: 100px;
    min-height: 80px;
  }
  .StyleSelection .modernBox:hover #modern {
    transform: translateY(0px) scale(1.1);
  }
  .StyleSelection .casualBox:hover #casual {
    transform: translateY(0px) scale(1.1);
  }
}/*# sourceMappingURL=lookstyle.css.map */