@charset "UTF-8";
@import "./main.css";
@import "./style_screen_01.css";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IM_Hyemin-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TmoneyRoundWindExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*반응형, 브라우저 크기가 767px 이하일때*/
.movebox {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movebox .left {
  width: 45%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movebox .left .StyleimgsBoxleft {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movebox .left .StyleimgsBoxleft img {
  border-radius: 20px;
  width: 350px;
  height: 350px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 50px;
}
.movebox .right {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movebox .right .StyleimgsBoxright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.movebox .right .StyleimgsBoxright .subheading {
  height: 40%;
  margin-top: 30px;
  width: 95%;
}
.movebox .right .StyleimgsBoxright .subheading .first_textBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.movebox .right .StyleimgsBoxright .subheading .first_textBox a:link,
.movebox .right .StyleimgsBoxright .subheading .first_textBox a:visited,
.movebox .right .StyleimgsBoxright .subheading .first_textBox a:hover,
.movebox .right .StyleimgsBoxright .subheading .first_textBox a:active {
  color: rgb(65, 65, 65);
}
.movebox .right .StyleimgsBoxright .subheading .first_textBox .cody_title {
  font-size: 24px;
  font-weight: bold;
}
.movebox .right .StyleimgsBoxright .subheading .first_textBox .contenti {
  height: 20px;
}
.movebox .right .StyleimgsBoxright .subheading .first_textBox .contenti i {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.movebox .right .StyleimgsBoxright .subheading .first_textBox .contenti .sns {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: 0.5s;
}
.movebox .right .StyleimgsBoxright .subheading .first_textBox .contenti .sns a {
  display: block;
  height: 30%;
}
.movebox .right .StyleimgsBoxright .subheading .p1 {
  font-weight: 700;
  font-size: 25px;
}
.movebox .right .StyleimgsBoxright .subheading .p2 {
  padding-right: 50px;
}
.movebox .right .StyleimgsBoxright .miniImg {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.movebox .right .StyleimgsBoxright .miniImg .swiper {
  width: 100%;
  height: 100%;
}
.movebox .right .StyleimgsBoxright .miniImg .swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-next,
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-prev {
  z-index: 10;
  right: 0;
}
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-next i,
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-prev i {
  width: 15px;
  height: 15px;
  color: rgb(131, 131, 131);
}
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-prev {
  left: 0;
  transform: translateX(-75%);
}
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-next {
  right: 0;
  transform: translateX(75%);
}
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-next:after,
.movebox .right .StyleimgsBoxright .miniImg .swiper-button-prev:after {
  display: none;
}
.movebox .right .StyleimgsBoxright .miniImg .swiper-slide {
  height: 120px;
  text-align: center;
  font-size: 18px;
  width: 120px;
  border-radius: 10px;
  margin-right: 20px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.movebox .right .StyleimgsBoxright .miniImg .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 120px;
  transition: 0.5s;
}
.movebox .right .StyleimgsBoxright .miniImg .swiper-slide img:hover {
  transform: scale(1.05);
}

@media (max-width: 767px) {
  /*브라우저 사이즈767px이하일때*/
  body.dummy {
    background-color: white;
    min-width: 360px;
  }
  body.dummy .movebox {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  body.dummy .movebox .left {
    padding-top: 50px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body.dummy .movebox .left .StyleimgsBoxleft {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body.dummy .movebox .left .StyleimgsBoxleft p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
  }
  body.dummy .movebox .left .StyleimgsBoxleft p img {
    border-radius: 20px;
    width: 300px;
    height: 300px;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0;
  }
  body.dummy .movebox .right {
    padding-bottom: 50px;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body.dummy .movebox .right .StyleimgsBoxright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 85%;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading {
    color: rgb(0, 0, 0);
    height: 40%;
    margin-top: 30px;
    width: 110%;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .first_textBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .first_textBox a:link,
body.dummy .movebox .right .StyleimgsBoxright .subheading .first_textBox a:visited,
body.dummy .movebox .right .StyleimgsBoxright .subheading .first_textBox a:hover,
body.dummy .movebox .right .StyleimgsBoxright .subheading .first_textBox a:active {
    color: rgb(65, 65, 65);
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .first_textBox .cody_title {
    font-size: 24px;
    font-weight: bold;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .first_textBox .contenti {
    height: 20px;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .first_textBox .contenti i {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .first_textBox .contenti .sns {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: 0.5s;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .first_textBox .contenti .sns a {
    display: block;
    height: 30%;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .first_textBox .p1 {
    font-weight: 700;
    font-size: 25px;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .first_textBox .p2 {
    padding-right: 50px;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .miniImg {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .miniImg .swiper {
    width: 100%;
    height: 100%;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .miniImg .swiper .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .miniImg .swiper-button-next,
body.dummy .movebox .right .StyleimgsBoxright .subheading .miniImg .swiper-button-prev {
    z-index: 10;
    right: 0;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .miniImg .swiper-button-next i,
body.dummy .movebox .right .StyleimgsBoxright .subheading .miniImg .swiper-button-prev i {
    width: 15px;
    height: 15px;
    color: rgb(0, 0, 0);
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .miniImg .swiper-button-prev {
    left: 0;
    transform: translateX(-75%);
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .miniImg .swiper-button-next {
    right: 0;
    transform: translateX(75%);
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .miniImg .swiper-button-next:after,
body.dummy .movebox .right .StyleimgsBoxright .subheading .miniImg .swiper-button-prev:after {
    display: none;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .miniImg .swiper-slide {
    height: 120px;
    text-align: center;
    font-size: 18px;
    width: 120px;
    border-radius: 10px;
    margin-right: 20px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .miniImg .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 120px;
    transition: 0.5s;
  }
  body.dummy .movebox .right .StyleimgsBoxright .subheading .miniImg .swiper-slide img:hover {
    transform: scale(1.05);
  }
}/*# sourceMappingURL=style_screen_02.css.map */