html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

a {
  color: rgb(58, 58, 58);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a,
i,
em,
strong,
b,
code,
address,
::after,
::before {
  display: inline-block;
}

header {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 28px;
  padding-bottom: 0;
  background-color: black;
}

.headerLeft p {
  font-size: 16px;
}
.headerLeft p a {
  color: white;
}

.headerMiddle {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headerMiddle div a {
  width: 136px;
  height: 50px;
  background-image: url("../image/TISSOT_LOGO_white 1.png");
}
.headerMiddle ul {
  display: flex;
}
.headerMiddle ul li {
  margin: 28px 0;
}
.headerMiddle ul li a {
  color: white;
  padding: 0 30px;
}

.headerRight {
  display: flex;
}
.headerRight a {
  margin-left: 16px;
  width: 19px;
  color: white;
}

main {
  width: 100%;
}

.mainImgBox {
  width: 100%;
  height: 100vh;
  background-image: url("../image/Tissot_models2 2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.mainBtn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 3%;
}
.mainBtn a {
  font-size: 55px;
  color: white;
}

.mainVideoBox {
  width: 80%;
  margin: 0 auto;
  padding: 95px 0 170px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainVideoBox div {
  padding-bottom: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainVideoBox div p {
  font-size: 28px;
  font-weight: 700;
}
.mainVideoBox div span {
  font-size: 22px;
}

.videoWrapper img {
  max-width: 100%;
  height: auto;
}

.mainWatchBox {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.watchTitleBox {
  width: 45%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.watchImg {
  margin-top: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.watchImg button {
  background-color: transparent;
  border: none;
  font-size: 28px;
}
.watchImg div.aa {
  width: 15%;
}
.watchImg div.aa a div.test {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.watchImg div.aa a div.test img {
  width: 100%;
}

.circlebox {
  margin-top: 50px;
  font-size: 13px;
}

.circlebox button {
  background-color: transparent;
  border: none;
}

.circlebox button:nth-child(1),
.circlebox button:last-child {
  color: rgba(0, 0, 0, 0.3);
}

.categoryBox {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoryBox p {
  margin-bottom: 90px;
  font-size: 36px;
  font-weight: 700;
}

.categoryImgBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.categoryImgBox a div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formBox {
  width: 100%;
  height: 235px;
  background-color: #f5f5f5;
  display: flex;
}

.formBox div {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formBox div span {
  display: inline-block;
  text-align: center;
}
.formBox div .newsForm,
.formBox div .storeForm {
  display: flex;
  flex-direction: row;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.footerWrap1 {
  padding: 38px 0;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.4);
}

.footerwrap {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footerwrap div a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerwrap div a i {
  font-size: 30px;
  margin-bottom: 20px;
}
.footerwrap div a p {
  font-size: 18px;
}

.footerMiddle {
  margin-top: 50px;
  width: 40%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footerMiddle p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.footerMiddleIcon i {
  font-size: 33px;
  padding: 0 20px;
}

.footerBottom {
  width: 100%;
  background-color: rgb(27, 27, 27);
  padding: 22px 0;
}
.footerBottom p {
  color: rgb(231, 231, 231);
  text-align: center;
}

.footerBottomText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerBottomText p:first-child {
  margin-bottom: 45px;
}/*# sourceMappingURL=common.css.map */