@charset "UTF-8";
@import url("../css/common.css");
@import url(../css/font.css);
main {
  width: 100%;
}

.mainImgBox {
  width: 100%;
  height: 100vh;
  background-image: url("../image/Tissot_models2 2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 3%;
}

.mainBtn a {
  font-size: 55px;
  color: white;
}

.mainVideoBox {
  width: 80%;
  margin: 0 auto;
  padding: 95px 0 170px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainVideoBox div {
  padding-bottom: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainVideoBox div p {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.mainVideoBox div span {
  font-size: 22px;
}

.videoWrapper img {
  max-width: 100%;
  height: auto;
}

.mainWatchBox {
  width: 1540px;
  margin: 0 auto;
  margin-bottom: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watchTitleBox {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.watchTitleBox span button {
  background-color: transparent;
  border: none;
  font-size: 28px;
}

.watchTitleBox span button:hover {
  cursor: pointer;
}

.watchTitleBox span button:after {
  /* 알아두긔 */
  content: "";
  display: block;
  height: 1.5px;
  background-color: transparent;
  margin: 5px auto;
  -webkit-transform: scalex(0);
          transform: scalex(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.watchTitleBox span:hover button:after {
  background-color: #cc0000;
  -webkit-transform: scalex(1);
          transform: scalex(1);
}

.watchImg {
  margin-top: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test {
  width: 100%;
  overflow: hidden;
}

.watchImg div a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.test img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.watchImg button {
  background-color: transparent;
  border: none;
  font-size: 28px;
}

.watchImg button:hover {
  cursor: pointer;
}

.watchImg div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circlebox {
  margin-top: 50px;
  font-size: 13px;
}

.circlebox button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.circlebox button:nth-child(1),
.circlebox button:last-child {
  color: rgba(0, 0, 0, 0.3);
}

.circlebox button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.categoryBox {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categoryBox p {
  margin-bottom: 90px;
  font-size: 36px;
  font-weight: 700;
}

.categoryImgBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categoryImgBox a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categoryImgBox a div span {
  margin-top: 35px;
}

section.formBox {
  width: 100%;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 48px 0;
  margin-bottom: 72px;
  position: relative;
}

.formBox div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formBox div p {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 48px;
}

.formBox div span {
  font-size: 18px;
}

.formBox div span {
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
}

.formBox div .newsForm,
.formBox div .storeForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.formBox div .newsForm input,
.formBox div .storeForm input {
  width: 213px;
  border: 0;
  border-bottom: 2px solid #555555;
  padding: 3px;
  background-color: transparent;
  outline: none;
  color: #949494;
  font-size: 14px;
  text-align: center;
}

.formBox div .newsForm i,
.formBox div .storeForm i {
  margin-left: 7px;
  color: #444444;
}
.formBoxLine {
  height: 140px;
  width: 1px;
  background-color: #c5c5c5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mainNewsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

.mainNewsBox > p {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 28px;
}

.mainNewsBox i {
  font-size: 33px;
  margin-bottom: 78px;
}

.newsImgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 115px;
}

.newsImgBox div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.newsImgBox p {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
}
/*# sourceMappingURL=index.css.map */