body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(234, 237, 243);
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

header {
  display: flex;
}
.notes {
  width: 1000px;
  height: 600px;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 18px;
  background-color: rgb(250, 250, 250);
}

.header_leftBox {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerText {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.addNoteBtn {
  width: 45px;
  height: 45px;
  font-size: 32px;
  margin-top: 30px;
  color: white;
  background-color: black;
  border-radius: 50%;
  line-height: 100%;
}

.line {
  width: 40px;
  height: 100%;
  position: absolute;
  left: 59px;
  border-right: solid 2px rgba(210, 210, 210, 0.908);
}
.header_topBox {
  width: 820px;
  height: 110px;
  margin-left: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.searchBox {
  color: rgb(126, 126, 126);
  margin-left: 1px;
}

.fa-search {
  font-size: 13px;
}

.searchText {
  margin-left: 3px;
  border: none;
  background: transparent;
  color: rgb(126, 126, 126);
  font-weight: bold;
  font-size: 15px;
}

.searchText:focus {
  border: none;
  outline: none;
}

.titleText {
  font-size: 42px;
  font-weight: bold;
  margin-top: 30px;
}
.notesBox {
  width: 860px;
  margin-left: 120px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.noteBox {
  width: 220px;
  height: 220px;
  margin: 15px;
  padding: 15px;
  background-color: rgb(246, 224, 105);
  border-radius: 18px;
  position: relative;
  text-align: center;
}

.noteText {
  width: 190px;
  height: 170px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 15px;
  border: none;
  font-size: 18px;
  background-color: transparent;
  vertical-align: top;
}

.noteBottomBox {
  position: absolute;
  bottom: 20px;
  padding: 0 15px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.more {
  position: absolute;
  left: 185px;
}
